/*noinspection ALL*/
.cell {
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    cursor: default;
    transition: all 0.4s ease;
}

/*noinspection ALL*/
.cell:hover {
    background-color: #cfd9ea;
    border-color: #000;
    transform: translateY(-3%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

/*noinspection ALL*/
.cell.active {
    background-color: #3f72af;
    border-color: #000;
    color: white;
    font-weight: 700;
}

.table {
    background-color: #cfd9ea;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    border-spacing: 5px;
}

@media only screen and (max-width: 475px) {
    .cell {
        font-size: 14px;
    }
}
