.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-enter {
    opacity: 0;
}

.layout-enter-active {
    opacity: 1;
    transition: all 500ms ease-out;
}

.layout-exit {
    opacity: 1;
}

.layout-exit-active {
    opacity: 0;
    transition: all 500ms ease-out;
}

.layout-placeholder-enter {
    opacity: 0;
}

.layout-placeholder-enter-active {
    opacity: 1;
    transition: all 0ms ease-out;
}

.layout-placeholder-exit {
    opacity: 1;
}

.layout-placeholder-exit-active {
    opacity: 0;
    transition: all 0ms ease-out;
}
