.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*noinspection CssUnusedSymbol*/
.move-enter {
    opacity: 0;
}

/*noinspection CssUnusedSymbol*/
.move-enter-active {
    opacity: 1;
    transition: all 400ms ease-out;
}

.move-exit {
    opacity: 1;
}

/*noinspection CssUnusedSymbol*/
.move-exit-active {
    opacity: 0;
    transition: all 400ms ease-out;
}
