.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*noinspection CssUnusedSymbol*/
.move-enter {
    opacity: 0;
}

/*noinspection CssUnusedSymbol*/
.move-enter-active {
    opacity: 1;
    transition: all 400ms ease-out;
}

.move-exit {
    opacity: 1;
}

/*noinspection CssUnusedSymbol*/
.move-exit-active {
    opacity: 0;
    transition: all 400ms ease-out;
}

/*noinspection CssUnusedSymbol*/
.add-enter {
    opacity: 0;
}

/*noinspection CssUnusedSymbol*/
.add-enter-active {
    opacity: 1;
    transition: all 400ms ease-out;
}

.add-exit {
    opacity: 1;
}

/*noinspection CssUnusedSymbol*/
.add-exit-active {
    display: none;
    opacity: 0;
    transition: all 400ms ease-out;
}

/*noinspection CssUnusedSymbol*/
.container-height-enter {
    max-height: 0;
    opacity: 0;
}

/*noinspection CssUnusedSymbol*/
.container-height-enter-active {
    max-height: 25rem;
    opacity: 1;
    transition: all 400ms ease;
}

.container-height-exit {
    max-height: 25rem;
    opacity: 1;
}

/*noinspection CssUnusedSymbol*/
.container-height-exit-active {
    max-height: 0;
    opacity: 0;
    transition: all 400ms ease;
}
