.input-enter {
    opacity: 0;
}
.input-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}
.input-exit {
    opacity: 1;
}
.input-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
