.lists-enter {
    opacity: 0;
    transform: scaleY(0);
}

.lists-enter-active {
    opacity: 1;
    transform: scaleY(1);
    transition: all 300ms ease-out;
}

.lists-exit {
    opacity: 1;
}

.lists-exit-active {
    opacity: 0;
    transform: scaleY(0);
    transition: all 300ms ease-out;
}
