.lists-enter {
    opacity: 0;
    transform: translateX(-5vh);
}

.lists-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms ease-out;
}

.lists-exit {
    opacity: 1;
}

.lists-exit-active {
    opacity: 0;
    transform: translateX(-5vh);
    transition: all 200ms ease-out;
}
